APP_NAME=AdministrationService
APP_ENV=local
APP_KEY=base64:zjxwtIoTdB9fQc0MfPbdN1W0tlQ1Z6ErHTHuORwGEKQ=
APP_DEBUG=true
DB_CONNECTION=pgsql
DB_HOST=db-shared
DB_PORT=5432
DB_DATABASE=db_admin
DB_USERNAME=gpdi_user
DB_PASSWORD=gpdi_password
