APP_PORT=8004
APP_URL=http://localhost:8004

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=gpdi_admin_db
DB_USERNAME=postgres
DB_PASSWORD=postgres

JWT_SECRET=JbF1DqgNlhcWPeYK1Bw7iJLhhQB2FKNgojU5HJvM6bGnW00oCvVDzePD6GXv0kUn