APP_PORT=8004
APP_URL=http://localhost:8004

DB_CONNECTION=pgsql
DB_HOST=db-shared
DB_PORT=5432
DB_DATABASE=db_gateway
DB_USERNAME=gpdi_user
DB_PASSWORD=gpdi_password

JWT_SECRET=JbF1DqgNlhcWPeYK1Bw7iJLhhQB2FKNgojU5HJvM6bGnW00oCvVDzePD6GXv0kUn
