APP_NAME=EventRayonService
APP_ENV=local
APP_KEY=base64:vNwO0QC7n1Zc0khsLvEicI0IDMpFTGip2RAAekOpAOw=
APP_DEBUG=true
APP_PORT=8003
APP_URL=http://localhost:8003

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=gpdi_event_db
DB_USERNAME=postgres
DB_PASSWORD=postgres

# JWT_SECRET WAJIB sama persis dengan layanan User dan Content
JWT_SECRET=JbF1DqgNlhcWPeYK1Bw7iJLhhQB2FKNgojU5HJvM6bGnW00oCvVDzePD6GXv0kUn