APP_NAME=ContentPublicationService
APP_ENV=local
APP_KEY=base64:+ockfjMxc0vgkF6ELOeBYjuxRfO7HpoZr5c0nPQupxE=
APP_DEBUG=true
APP_PORT=8002
APP_URL=http://localhost:8002

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=db-shared
DB_PORT=5432
DB_DATABASE=db_content
DB_USERNAME=gpdi_user
DB_PASSWORD=gpdi_password

JWT_SECRET=JbF1DqgNlhcWPeYK1Bw7iJLhhQB2FKNgojU5HJvM6bGnW00oCvVDzePD6GXv0kUn
